# Data Preprocessing

In [1]:
# Import dependencies
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [2]:
# Import PLACES data
places_df = pd.read_csv("./Resources/processed_PLACES_COPD.csv")
places_df = places_df.drop(["State_County"], axis=1)
places_df.head()

      State             County  Levels_Smokers  Levels_COPD
0      Iowa               Cass            19.3          8.3
1      Iowa             Monona            18.5          8.3
2    Alaska         Dillingham            31.1          8.9
3  Colorado             Custer            13.8          7.5
4    Alaska  Ketchikan Gateway            19.4          6.6

In [3]:
# Import Coal Mines data
coal_df = pd.read_csv("./Resources/processed_Coal_Mines.csv")
coal_df = coal_df.drop(["State_County"], axis=1)
coal_df.head()

     State      County  Surface_Mines  Underground_Mines
0  Alabama      Walker             22                2.0
1  Alabama   Jefferson             22                5.0
2  Alabama   Jefferson             13                5.0
3  Alabama  Tuscaloosa             13               12.0
4  Alabama   Jefferson             13               14.0

In [4]:
# Import Air Quality data
aqi_df = pd.read_csv("./Resources/processed_Decade_Air_Quality.csv")
aqi_df = aqi_df.drop(["State_County"], axis=1)
aqi_df.head()

,State,County,Days_with_AQI,Good_Days,Moderate_Days,Unhealthy_for_Sensitive_Groups_Days,Unhealthy_Days,Very_Unhealthy_Days,Hazardous_Days
0,Alabama,Baldwin,523.0,455.0,66.0,2.0,0.0,0.0,0.0
1,Alabama,Clay,226.0,194.0,32.0,0.0,0.0,0.0,0.0
2,Alabama,Colbert,586.0,472.0,114.0,0.0,0.0,0.0,0.0
3,Alabama,DeKalb,724.0,635.0,89.0,0.0,0.0,0.0,0.0
4,Alabama,Elmore,472.0,436.0,36.0,0.0,0.0,0.0,0.0

In [5]:
# Import Census 2019 data
census_df = pd.read_csv("./Resources/processed_census_data.csv")
census_df = census_df.drop(["State_County"], axis=1)
census_df.head()

,State,County,PERC_TOT_MALE_0,PERC_TOT_FEMALE_0,PERC_WA_MALE_0,PERC_WA_FEMALE_0,PERC_BA_MALE_0,PERC_BA_FEMALE_0,PERC_IA_MALE_0,PERC_IA_FEMALE_0,...,PERC_HWAC_MALE_18,PERC_HWAC_FEMALE_18,PERC_HBAC_MALE_18,PERC_HBAC_FEMALE_18,PERC_HIAC_MALE_18,PERC_HIAC_FEMALE_18,PERC_HAAC_MALE_18,PERC_HAAC_FEMALE_18,PERC_HNAC_MALE_18,PERC_HNAC_FEMALE_18
0,Alabama,Autauga County,48.492008,51.507992,37.369561,38.892767,9.373714,10.739408,0.216578,0.259536,...,0.747863,1.282051,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0
1,Alabama,Baldwin County,48.490373,51.509627,42.471129,44.969852,4.249353,4.527536,0.404508,0.375839,...,0.427350,0.899685,0.0,0.000000,0.0,0.022492,0.0,0.0,0.000000,0.0
2,Alabama,Barbour County,52.920684,47.079316,25.881066,23.272300,25.565098,22.664668,0.417241,0.271409,...,0.639659,0.426439,0.0,0.213220,0.0,0.213220,0.0,0.0,0.000000,0.0
3,Alabama,Bibb County,53.268733,46.731267,39.144414,37.621684,13.132982,8.136108,0.236671,0.223274,...,1.028278,0.000000,0.0,0.514139,0.0,0.000000,0.0,0.0,0.000000,0.0
4,Alabama,Blount County,49.237367,50.762633,47.137966,48.687442,0.892332,0.798949,0.332031,0.307820,...,1.818182,0.545455,0.0,0.000000,0.0,0.000000,0.0,0.0,0.090909,0.0

In [6]:
# Merge places and coal dataframes
merged_df = pd.merge(places_df, coal_df, on=["State", "County"], how="left")
merged_df

,State,County,Levels_Smokers,Levels_COPD,Surface_Mines,Underground_Mines
0,Iowa,Cass,19.3,8.3,NaN,NaN
1,Iowa,Monona,18.5,8.3,NaN,NaN
2,Alaska,Dillingham,31.1,8.9,NaN,NaN
3,Colorado,Custer,13.8,7.5,NaN,NaN
4,Alaska,Ketchikan Gateway,19.4,6.6,NaN,NaN
...,...,...,...,...,...,...
3176,Wisconsin,Sauk,16.8,6.5,NaN,NaN
3177,Wisconsin,Brown,15.1,5.5,NaN,NaN
3178,West Virginia,Webster,26.8,15.3,NaN,NaN
3179,Wisconsin,Winnebago,17.1,5.8,NaN,NaN
3180,Wisconsin,Waukesha,12.6,4.7,NaN,NaN

In [7]:
# Merge in the Air Quality data
merged_df = pd.merge(merged_df, aqi_df, on=["State", "County"], how="left")
merged_df

,State,County,Levels_Smokers,Levels_COPD,Surface_Mines,Underground_Mines,Days_with_AQI,Good_Days,Moderate_Days,Unhealthy_for_Sensitive_Groups_Days,Unhealthy_Days,Very_Unhealthy_Days,Hazardous_Days
0,Iowa,Cass,19.3,8.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iowa,Monona,18.5,8.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alaska,Dillingham,31.1,8.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Colorado,Custer,13.8,7.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alaska,Ketchikan Gateway,19.4,6.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3176,Wisconsin,Sauk,16.8,6.5,NaN,NaN,678.0,571.0,103.0,4.0,0.0,0.0,0.0
3177,Wisconsin,Brown,15.1,5.5,NaN,NaN,722.0,546.0,168.0,8.0,0.0,0.0,0.0
3178,West Virginia,Webster,26.8,15.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3179,Wisconsin,Winnebago,17.1,5.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3180,Wisconsin,Waukesha,12.6,4.7,NaN,NaN,682.0,531.0,148.0,3.0,0.0,0.0,0.0

In [8]:
# Merge in the census data
merged_df = pd.merge(merged_df, census_df, on=["State", "County"], how="left")
merged_df

,State,County,Levels_Smokers,Levels_COPD,Surface_Mines,Underground_Mines,Days_with_AQI,Good_Days,Moderate_Days,Unhealthy_for_Sensitive_Groups_Days,...,PERC_HWAC_MALE_18,PERC_HWAC_FEMALE_18,PERC_HBAC_MALE_18,PERC_HBAC_FEMALE_18,PERC_HIAC_MALE_18,PERC_HIAC_FEMALE_18,PERC_HAAC_MALE_18,PERC_HAAC_FEMALE_18,PERC_HNAC_MALE_18,PERC_HNAC_FEMALE_18
0,Iowa,Cass,19.3,8.3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iowa,Monona,18.5,8.3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alaska,Dillingham,31.1,8.9,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Colorado,Custer,13.8,7.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alaska,Ketchikan Gateway,19.4,6.6,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3176,Wisconsin,Sauk,16.8,6.5,NaN,NaN,678.0,571.0,103.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3177,Wisconsin,Brown,15.1,5.5,NaN,NaN,722.0,546.0,168.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3178,West Virginia,Webster,26.8,15.3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3179,Wisconsin,Winnebago,17.1,5.8,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3180,Wisconsin,Waukesha,12.6,4.7,NaN,NaN,682.0,531.0,148.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# View null values
merged_df.isnull().sum()

State                     0
County                    1
Levels_Smokers            0
Levels_COPD               0
Surface_Mines          3078
                       ...
PERC_HIAC_FEMALE_18    3181
PERC_HAAC_MALE_18      3181
PERC_HAAC_FEMALE_18    3181
PERC_HNAC_MALE_18      3181
PERC_HNAC_FEMALE_18    3181
Length: 1381, dtype: int64

In [10]:
# View the county with a NaN value
merged_df[merged_df['County'].isnull()]

,State,County,Levels_Smokers,Levels_COPD,Surface_Mines,Underground_Mines,Days_with_AQI,Good_Days,Moderate_Days,Unhealthy_for_Sensitive_Groups_Days,...,PERC_HWAC_MALE_18,PERC_HWAC_FEMALE_18,PERC_HBAC_MALE_18,PERC_HBAC_FEMALE_18,PERC_HIAC_MALE_18,PERC_HIAC_FEMALE_18,PERC_HAAC_MALE_18,PERC_HAAC_FEMALE_18,PERC_HNAC_MALE_18,PERC_HNAC_FEMALE_18
33,United States,NaN,15.3,6.6,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Drop the row containing "United States"
merged_df = merged_df[merged_df.State != "United States"]
merged_df.isnull().sum()

State                     0
County                    0
Levels_Smokers            0
Levels_COPD               0
Surface_Mines          3077
                       ...
PERC_HIAC_FEMALE_18    3180
PERC_HAAC_MALE_18      3180
PERC_HAAC_FEMALE_18    3180
PERC_HNAC_MALE_18      3180
PERC_HNAC_FEMALE_18    3180
Length: 1381, dtype: int64

In [12]:
# Fill Nulls from states without mines to be 0
merged_df = merged_df.fillna(0)
merged_df.isnull().sum()

State                  0
County                 0
Levels_Smokers         0
Levels_COPD            0
Surface_Mines          0
                      ..
PERC_HIAC_FEMALE_18    0
PERC_HAAC_MALE_18      0
PERC_HAAC_FEMALE_18    0
PERC_HNAC_MALE_18      0
PERC_HNAC_FEMALE_18    0
Length: 1381, dtype: int64

In [13]:
# Drop County name as it might confuse the model
merged_df = merged_df.drop(["County"], axis=1)

# Encode the Data

In [14]:
# Prepare for label encoding
le = LabelEncoder()
encoded_df = merged_df.copy()

In [15]:
# Filter all string object data types into a dataframe_cat for encoding
dataframe_cat = merged_df.dtypes[merged_df.dtypes == "object"].index.tolist()

dataframe_cat

['State']

In [16]:
# For loop to encode text columns to numerical values
for column in dataframe_cat:
    encoded_df[column] = le.fit_transform(merged_df[column])


# encoded_df.head()
places_df.head()

      State             County  Levels_Smokers  Levels_COPD
0      Iowa               Cass            19.3          8.3
1      Iowa             Monona            18.5          8.3
2    Alaska         Dillingham            31.1          8.9
3  Colorado             Custer            13.8          7.5
4    Alaska  Ketchikan Gateway            19.4          6.6

# Split, Train, Test

In [17]:
# Split our preprocessed data into our features and target arrays
X = encoded_df.drop(columns = "Levels_COPD").values
y = encoded_df["Levels_COPD"]


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [18]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [19]:
len(X_train[0])

1379

In [20]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = len(X_train[0]) / 2
hidden_nodes_layer2 = len(X_train[0]) / 3
hidden_nodes_layer3 = len(X_train[0]) / 4
# hidden_nodes_layer4 = len(X_train[0]) / 5
# hidden_nodes_layer5 = len(X_train[0]) / 6

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# # Fourth hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))

# # Fifth hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer5, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="linear"))

# Check the structure of the model
nn.summary()

Metal device set to: Apple M1
Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 689)               950820

 dense_1 (Dense)             (None, 459)               316710

 dense_2 (Dense)             (None, 344)               158240

 dense_3 (Dense)             (None, 1)                 345

=================================================================
Total params: 1,426,115
Trainable params: 1,426,115
Non-trainable params: 0
_________________________________________________________________

2022-11-04 22:33:13.108458: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:306] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2022-11-04 22:33:13.108536: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:272] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

In [21]:
# # Import checkpoint dependencies
# import os
# from tensorflow.keras.callbacks import ModelCheckpoint

# # Define the checkpoint path and filenames
# os.makedirs("optimized_checkpoints/",exist_ok=True)
# checkpoint_path = "optimized_checkpoints/weights.{epoch:02d}.hdf5"

In [22]:
# Compile the model
nn.compile(optimizer='adam', loss='mean_squared_error', metrics=['mean_squared_error'])

# # Create a callback that saves the model's weights every 5 epochs
# cp_callback = ModelCheckpoint(
#     filepath = checkpoint_path,
#     verbose = 1,
#     save_weights_only = True,
#     save_freq = 5
# )

In [23]:
# Train the model
# fit_model = nn.fit(X_train_scaled, y_train, epochs=1, callbacks=[cp_callback])
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=75)

Epoch 1/75

2022-11-04 22:33:13.264176: W tensorflow/core/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz
2022-11-04 22:33:13.401691: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:114] Plugin optimizer for device_type GPU is enabled.

75/75 [==============================] - 1s 7ms/step - loss: 13.6029 - mean_squared_error: 13.6029
Epoch 2/75
75/75 [==============================] - 0s 6ms/step - loss: 2.2664 - mean_squared_error: 2.2664
Epoch 3/75
75/75 [==============================] - 0s 6ms/step - loss: 1.8601 - mean_squared_error: 1.8601
Epoch 4/75
75/75 [==============================] - 0s 6ms/step - loss: 1.7672 - mean_squared_error: 1.7672
Epoch 5/75
75/75 [==============================] - 0s 6ms/step - loss: 1.7054 - mean_squared_error: 1.7054
Epoch 6/75
75/75 [==============================] - 0s 6ms/step - loss: 1.5503 - mean_squared_error: 1.5503
Epoch 7/75
75/75 [==============================] - 0s 6ms/step - loss: 1.4660 - mean_squared_error: 1.4660
Epoch 8/75
75/75 [==============================] - 0s 6ms/step - loss: 1.5806 - mean_squared_error: 1.5806
Epoch 9/75
75/75 [==============================] - 0s 6ms/step - loss: 1.4216 - mean_squared_error: 1.4216
Epoch 10/75
75/75 [==============================] - 0s 6ms/step - loss: 1.3760 - mean_squared_error: 1.3760
Epoch 11/75
75/75 [==============================] - 0s 7ms/step - loss: 1.3996 - mean_squared_error: 1.3996
Epoch 12/75
75/75 [==============================] - 1s 7ms/step - loss: 1.4320 - mean_squared_error: 1.4320
Epoch 13/75
75/75 [==============================] - 0s 6ms/step - loss: 1.5290 - mean_squared_error: 1.5290
Epoch 14/75
75/75 [==============================] - 0s 6ms/step - loss: 1.3924 - mean_squared_error: 1.3924
Epoch 15/75
75/75 [==============================] - 0s 6ms/step - loss: 1.3398 - mean_squared_error: 1.3398
Epoch 16/75
75/75 [==============================] - 0s 6ms/step - loss: 1.4725 - mean_squared_error: 1.4725
Epoch 17/75
75/75 [==============================] - 0s 6ms/step - loss: 1.2922 - mean_squared_error: 1.2922
Epoch 18/75
75/75 [==============================] - 1s 7ms/step - loss: 1.2762 - mean_squared_error: 1.2762
Epoch 19/75
75/75 [==============================] - 0s 6ms/step - loss: 1.3370 - mean_squared_error: 1.3370
Epoch 20/75
75/75 [==============================] - 0s 6ms/step - loss: 1.3449 - mean_squared_error: 1.3449
Epoch 21/75
75/75 [==============================] - 0s 6ms/step - loss: 1.3194 - mean_squared_error: 1.3194
Epoch 22/75
75/75 [==============================] - 0s 6ms/step - loss: 1.3363 - mean_squared_error: 1.3363
Epoch 23/75
75/75 [==============================] - 0s 6ms/step - loss: 1.3038 - mean_squared_error: 1.3038
Epoch 24/75
75/75 [==============================] - 1s 7ms/step - loss: 1.2995 - mean_squared_error: 1.2995
Epoch 25/75
75/75 [==============================] - 0s 6ms/step - loss: 1.4199 - mean_squared_error: 1.4199
Epoch 26/75
75/75 [==============================] - 0s 6ms/step - loss: 1.2627 - mean_squared_error: 1.2627
Epoch 27/75
75/75 [==============================] - 0s 6ms/step - loss: 1.3058 - mean_squared_error: 1.3058
Epoch 28/75
75/75 [==============================] - 0s 6ms/step - loss: 1.2520 - mean_squared_error: 1.2520
Epoch 29/75
75/75 [==============================] - 0s 7ms/step - loss: 1.3120 - mean_squared_error: 1.3120
Epoch 30/75
75/75 [==============================] - 1s 7ms/step - loss: 1.3018 - mean_squared_error: 1.3018
Epoch 31/75
75/75 [==============================] - 0s 6ms/step - loss: 1.3807 - mean_squared_error: 1.3807
Epoch 32/75
75/75 [==============================] - 1s 8ms/step - loss: 1.2983 - mean_squared_error: 1.2983
Epoch 33/75
75/75 [==============================] - 0s 6ms/step - loss: 1.2506 - mean_squared_error: 1.2506
Epoch 34/75
75/75 [==============================] - 0s 6ms/step - loss: 1.2653 - mean_squared_error: 1.2653
Epoch 35/75
75/75 [==============================] - 0s 6ms/step - loss: 1.2989 - mean_squared_error: 1.2989
Epoch 36/75
75/75 [==============================] - 1s 7ms/step - loss: 1.2296 - mean_squared_error: 1.2296
Epoch 37/75
75/75 [==============================] - 1s 7ms/step - loss: 1.2727 - mean_squared_error: 1.2727
Epoch 38/75
75/75 [==============================] - 0s 6ms/step - loss: 1.2180 - mean_squared_error: 1.2180
Epoch 39/75
75/75 [==============================] - 0s 6ms/step - loss: 1.2331 - mean_squared_error: 1.2331
Epoch 40/75
75/75 [==============================] - 0s 6ms/step - loss: 1.2102 - mean_squared_error: 1.2102
Epoch 41/75
75/75 [==============================] - 0s 6ms/step - loss: 1.3603 - mean_squared_error: 1.3603
Epoch 42/75
75/75 [==============================] - 0s 6ms/step - loss: 1.2727 - mean_squared_error: 1.2727
Epoch 43/75
75/75 [==============================] - 0s 6ms/step - loss: 1.2491 - mean_squared_error: 1.2491
Epoch 44/75
75/75 [==============================] - 0s 6ms/step - loss: 1.2245 - mean_squared_error: 1.2245
Epoch 45/75
75/75 [==============================] - 0s 6ms/step - loss: 1.2621 - mean_squared_error: 1.2621
Epoch 46/75
75/75 [==============================] - 0s 7ms/step - loss: 1.2720 - mean_squared_error: 1.2720
Epoch 47/75
75/75 [==============================] - 0s 6ms/step - loss: 1.2132 - mean_squared_error: 1.2132
Epoch 48/75
75/75 [==============================] - 0s 6ms/step - loss: 1.2290 - mean_squared_error: 1.2290
Epoch 49/75
75/75 [==============================] - 0s 6ms/step - loss: 1.2253 - mean_squared_error: 1.2253
Epoch 50/75
75/75 [==============================] - 0s 6ms/step - loss: 1.2226 - mean_squared_error: 1.2226
Epoch 51/75
75/75 [==============================] - 0s 6ms/step - loss: 1.2077 - mean_squared_error: 1.2077
Epoch 52/75
75/75 [==============================] - 0s 6ms/step - loss: 1.3440 - mean_squared_error: 1.3440
Epoch 53/75
75/75 [==============================] - 0s 6ms/step - loss: 1.2508 - mean_squared_error: 1.2508
Epoch 54/75
75/75 [==============================] - 0s 6ms/step - loss: 1.2550 - mean_squared_error: 1.2550
Epoch 55/75
75/75 [==============================] - 0s 6ms/step - loss: 1.1889 - mean_squared_error: 1.1889
Epoch 56/75
75/75 [==============================] - 1s 7ms/step - loss: 1.2644 - mean_squared_error: 1.2644
Epoch 57/75
75/75 [==============================] - 1s 7ms/step - loss: 1.2108 - mean_squared_error: 1.2108
Epoch 58/75
75/75 [==============================] - 0s 6ms/step - loss: 1.2679 - mean_squared_error: 1.2679
Epoch 59/75
75/75 [==============================] - 0s 6ms/step - loss: 1.2207 - mean_squared_error: 1.2207
Epoch 60/75
75/75 [==============================] - 0s 6ms/step - loss: 1.2602 - mean_squared_error: 1.2602
Epoch 61/75
75/75 [==============================] - 0s 6ms/step - loss: 1.2240 - mean_squared_error: 1.2240
Epoch 62/75
75/75 [==============================] - 0s 6ms/step - loss: 1.2138 - mean_squared_error: 1.2138
Epoch 63/75
75/75 [==============================] - 0s 6ms/step - loss: 1.1706 - mean_squared_error: 1.1706
Epoch 64/75
75/75 [==============================] - 0s 6ms/step - loss: 1.1811 - mean_squared_error: 1.1811
Epoch 65/75
75/75 [==============================] - 0s 6ms/step - loss: 1.1837 - mean_squared_error: 1.1837
Epoch 66/75
75/75 [==============================] - 0s 6ms/step - loss: 1.1626 - mean_squared_error: 1.1626
Epoch 67/75
75/75 [==============================] - 0s 7ms/step - loss: 1.1763 - mean_squared_error: 1.1763
Epoch 68/75
75/75 [==============================] - 1s 7ms/step - loss: 1.1552 - mean_squared_error: 1.1552
Epoch 69/75
75/75 [==============================] - 1s 7ms/step - loss: 1.1855 - mean_squared_error: 1.1855
Epoch 70/75
75/75 [==============================] - 0s 6ms/step - loss: 1.2066 - mean_squared_error: 1.2066
Epoch 71/75
75/75 [==============================] - 0s 6ms/step - loss: 1.1822 - mean_squared_error: 1.1822
Epoch 72/75
75/75 [==============================] - 0s 6ms/step - loss: 1.2105 - mean_squared_error: 1.2105
Epoch 73/75
75/75 [==============================] - 1s 7ms/step - loss: 1.1457 - mean_squared_error: 1.1457
Epoch 74/75
75/75 [==============================] - 1s 7ms/step - loss: 1.1763 - mean_squared_error: 1.1763
Epoch 75/75
75/75 [==============================] - 1s 7ms/step - loss: 1.1876 - mean_squared_error: 1.1876

In [24]:
# # Evaluate the model using the test data
# model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
# print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [25]:
# # Export our model to HDF5 file
# nn.save('COPD_DeepLearning.h5')